<app-menu></app-menu>
<div class="container">
   

                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Registra Proveedor</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-8">
                                <mat-label>Razón Social</mat-label>
                                <input  matInput [(ngModel)] ="proveedor.razonsocial" >
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>RUC</mat-label>
                                <input  matInput [(ngModel)] ="proveedor.ruc" >
                            </mat-form-field>

                            <mat-form-field class="col-md-12">
                                <mat-label>Dirección</mat-label>
                                <input  matInput [(ngModel)] ="proveedor.direccion" >
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>Celular</mat-label>
                                <input  matInput [(ngModel)] ="proveedor.celular" >
                            </mat-form-field>

                            <mat-form-field class="col-md-8">
                                <mat-label>Contacto</mat-label>
                                <input  matInput [(ngModel)] ="proveedor.contacto" >
                            </mat-form-field>

                            <mat-form-field class="col-md-6">
                                <mat-label>País</mat-label>
                                <mat-select [(ngModel)]="proveedor.pais!.idPais">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option  *ngFor="let x of lstPais" [value]="x.idPais">
                                        {{x.nombre}}
                                    </mat-option>   
                                </mat-select> 
                            </mat-form-field> 

                            <mat-form-field class="col-md-6">
                                <mat-label>Tipo Proveedor</mat-label>
                                <mat-select [(ngModel)]="proveedor.tipoProveedor!.idDataCatalogo">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option  *ngFor="let x of lstDataCatalogo" [value]="x.idDataCatalogo">
                                        {{x.descripcion}}
                                    </mat-option>   
                                </mat-select> 
                            </mat-form-field> 
                </div>
                <div  class="row" >
                    <button class="col-md-6" mat-raised-button type="submit" color="primary" (click)="registra()">Registra</button>
                </div>
 
  </div>
