<app-menu></app-menu>
<div class="container">
        <form class="mat-dialog-content" id="idFormModalidad" [formGroup]="formsRegistra">
                <div class="row">
                        <mat-toolbar color="primary">
                                <span>Registra alumno</span>
                        </mat-toolbar>
                </div>
                <div class="row" style="margin-top: 3%">
                        <mat-form-field class="col-md-4">
                                <mat-label>Nombres</mat-label>
                                <input matInput name="nombres" [(ngModel)]="alumno.nombres"
                                        formControlName="validaNombres" maxlength="30">
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaNombres.touched">
                                        <span *ngIf="formsRegistra.controls.validaNombres.hasError('required')">
                                                El Nombre es requerido
                                        </span>
                                        <span *ngIf="formsRegistra.controls.validaNombres.hasError('pattern')">
                                                El Nombre es de 3-30 caracteres
                                        </span>
                                </mat-hint>
                        </mat-form-field>
                        
                        <mat-form-field class="col-md-4">
                                <mat-label>Apellidos</mat-label>
                                <input matInput name="apellidos" [(ngModel)]="alumno.apellidos"
                                        formControlName="validaApellidos" maxlength="30">
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaApellidos.touched">
                                        <span *ngIf="formsRegistra.controls.validaApellidos.hasError('required')">
                                                El Apellido es requerido
                                        </span>
                                        <span *ngIf="formsRegistra.controls.validaApellidos.hasError('pattern')">
                                                El Apellido es de 3-30 caracteres
                                        </span>
                                </mat-hint>
                        </mat-form-field>
                        <mat-form-field class="col-md-4">
                            <mat-label>DNI</mat-label>
                            <input matInput name="dni" [(ngModel)]="alumno.dni" formControlName="validaDNI"
                                    maxlength="8">
                            <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaDNI.touched">
                                    <span *ngIf="formsRegistra.controls.validaDNI.hasError('required')">
                                            El DNI es requerido
                                    </span>
                                    <span *ngIf="formsRegistra.controls.validaDNI.hasError('pattern')">
                                            El DNI tiene 8 dígitos
                                    </span>
                            </mat-hint>
                    </mat-form-field>
                        <mat-form-field class="col-md-4">
                                <mat-label>Teléfono</mat-label>
                                <input matInput name="telefono" [(ngModel)]="alumno.telefono"
                                        formControlName="validaTelefono" maxlength="9">
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaTelefono.touched">
                                        <span *ngIf="formsRegistra.controls.validaTelefono.hasError('required')">
                                                El Telefono es requerido
                                        </span>
                                        <span *ngIf="formsRegistra.controls.validaTelefono.hasError('pattern')">
                                                El Telefono tiene 9 dígitos
                                        </span>
                                </mat-hint>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                                <mat-label>Correo</mat-label>
                                <input matInput name="correo" [(ngModel)]="alumno.correo"
                                        formControlName="validaCorreo" >
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaCorreo.touched">
                                        <span *ngIf="formsRegistra.controls.validaCorreo.hasError('required')">
                                                El correo es requerido
                                        </span>
                                        <span *ngIf="formsRegistra.controls.validaCorreo.hasError('pattern')">
                                                El correo error de formato
                                        </span>
                                </mat-hint>
                        </mat-form-field>
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                        <input type="date" class="form-control" id="fechaNacimiento"
                                                [(ngModel)]="alumno.fechaNacimiento" formControlName="validaFechaNac">
                                </div>
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaTelefono.touched">
                                        <span *ngIf="formsRegistra.controls.validaFechaNac.hasError('required')">
                                                La fecha de nacimiento es requerido
                                        </span>
                                </mat-hint>
                        </div>
                </div>
                <div class="row">
                        <mat-form-field class="col-md-4">
                                <mat-label>País</mat-label>
                                <mat-select [(ngModel)]="alumno.pais!.idPais" name="pais" formControlName="validaPais">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option *ngFor="let x of lstPais" [value]="x.idPais">
                                                {{x.nombre}}
                                        </mat-option>
                                </mat-select>
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaPais.touched">
                                        <span *ngIf="formsRegistra.controls.validaPais.hasError('min')">
                                                El Pais es requerido
                                        </span>
                                </mat-hint>
                        </mat-form-field>
                       
                        <mat-form-field class="col-md-4">
                                <mat-label>Modalidad</mat-label>
                                <mat-select [(ngModel)]="alumno.modalidad!.idDataCatalogo" name="modalidad"
                                        formControlName="validaModalidad">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option *ngFor="let x of lstDataCatalog" [value]="x.idDataCatalogo">
                                                {{x.descripcion}}
                                        </mat-option>
                                </mat-select>
                                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaPais.touched">
                                        <span *ngIf="formsRegistra.controls.validaPais.hasError('min')">
                                                La modalidad es requerido
                                        </span>
                                </mat-hint>
                        </mat-form-field>
                        
                </div>

                <div mat-dialog-actions>
                        <button mat-raised-button type="submit" (click)="registra()" color="primary"
                        [disabled]="formsRegistra.invalid"  [mat-dialog-close]="1">
                                Registra
                        </button>
                </div>

        </form>
</div>